*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
}

/* containers */

.container__large {
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
}

.container__small {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* btn */

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  margin: 30px auto 0px auto;
  display: flex;

  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  border-radius: 3px;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items:center; 
  min-width: 100%;
  min-height: 100%;
  
  text-transform: uppercase;
  color: #FFFFFF;
}

.btn__img {
  margin-right: 5px;
}

.btn--large {
  font-weight: 500;
  width: 275px;
  margin: 0;
  margin: 35px 00;
  letter-spacing: -0.06rem;
}

.btn--small {
  width: 194px;
  margin: 37px 0 0 0;
}

.submit__btn {
  margin: 20px 0 0 261px;
  display: flex;

  width: 108ppx;
  height: 36px;
  background: #333333;
  border-radius: 0px;
}

.submit__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FEFEFE;
}

.submit__btn__img {
  margin-left: 27px;
}

/* social */

.social {
  display: flex;
  align-items:center; 

}

.social__item {
  margin-right: 12px;
  margin-top: 12px;
}

/* header */

header {
  min-width: 100%;
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);

}

.header__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 94px;
}

.logo {
  margin: auto 0;
}

.switch {
  margin: auto 0;
}

/* nav */

nav {
  margin: auto;
}

.nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.nav__link:active {
  font-weight: 900;
  border-bottom: 1px solid #333333;;
}

.active {
  font-weight: 900;
  border-bottom: 1px solid #333333;;
  pointer-events: none;
  cursor: default;
}

.li__nav {
  float: left;
  margin-right: 83px;  
}

.nav__fix{
  padding: 10px 0 0 80px;
}

.under__li {
  margin-right: 73px; 
}

.under__li__btn{
  margin-right: 0;
  margin-left: 60px;
}

.under__link {
  color: #FEFEFE;
}

.under__nav {
  height: 117px;
  margin: 0 0 24px 0;
  display: flex;
  justify-content: center;
  align-items:center; 
}

.under__ul {
  display: flex;
  justify-content: center;
  align-items:center; 
}

/* switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* info */

h2 {
  padding: 206px 0 37px;
  font-style: normal;
  font-weight: 900;
  font-size: 89px;
  line-height: 104px;
  color: #FEFEFE;
  text-align: left;
  width: 795px;

}

.info {
  height: 940px;
  position: relative;
  background: url(asserts/bg__info.png) no-repeat center;
  overflow: hidden;
}

.btn__fix {
 margin: 0;
}

.social__info {
  flex-direction: column;
  position: absolute;
  top: 75%;
  left: 8%;
}

.slider__info {
  position: absolute;
  overflow: hidden;
  top: 43.5%;
  right: 0%;
  background: url(asserts/line.png) no-repeat;
  background-position: bottom 236px right;
  padding-bottom: 5px;;
}

.slider__info__inner {
  width: 1080px;
  display: flex;
  padding-left: 90px;
  align-items: center;
}

.info__slide {
  padding-left: 46px;
}

.info__slide__img {
  border-radius: 5px;
  width: 140px;
  height: 203px;
}

.info__slide__img--active {
  width: 245px;
  height: 352px;
}

.info__range__slider {
  text-align: center;
  margin-left: 320px;
  height: 50px;
  width: 245px;
}

/* works */

.works {
  min-width: 100%;
  background-color: #FBFBFB;
}

.works__inner {
  width: 790px;
  margin: 0 auto;
  padding-bottom: 100px;
}

h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
  padding-top: 100px;
  margin: 0 auto 30px auto;
}

.works__slider {
  text-align: center;
}

.works__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
  margin: 30px 0;
}

.value {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  margin-top: 26px;
  margin-bottom: 14px;
}

.value__second {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #D8D8D8;;
  width: 245px;
  height: 5px;
  margin: 0 auto;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #333333;
  width: 62px;
  height: 10px;
  cursor: pointer;

}​
input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
  }

.white[type="range"]::-webkit-slider-thumb {
  background-color:#FEFEFE;
  -webkit-appearance: none;
  width: 30px;
  height: 10px;
  cursor: pointer;
}

.white[type="range"] {
  background-color: rgba(189, 189, 189, 0.57);
}

.value__white {
  margin-top: 16px;
  margin-bottom: 14px;
  color: #FEFEFE;
}

.range__large[type="range"]::-webkit-slider-thumb {
  width: 30px;
  height: 10px;
}

/* inspire */

.inspire {
  background-color:#F2F2F2;
}

.inspire__inner {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 127px;
}

.inspire__item {
  text-align: center;
  width: 380px;
}

h4 {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
  margin-top: 15px;
  margin-bottom: 15px;
}

.inspire__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;

  text-align:left;
}

/* pets */

.pets {
  background-color: #FBFBFB;
  display: flex;
}

.pets__inner {
  text-align: center;
  padding-bottom: 100px;
}

.right__arrow {
  transform: rotate(180deg);
}

.arrow__container__left {
  margin-top: 380px;
  margin-left: 307px;
}

.arrow__container__right {
  margin-top: 380px;
  margin-right: 307px;
}

.slider__arrow:hover {
  cursor: pointer;
}

/* slider */

.slides {
  padding-top: 10px;
}

.slides__inner {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  
}

.slide {
  width: 25%;
  position: relative;
  height: 400px;
  overflow: hidden;
}

.medium1 {
  margin-left: 30px;
  margin-right: 15px;
}

.medium2 {
  margin-left: 15px;
  margin-right: 30px;
}

.slider__img {
  top: 0%;
  left: 0%;
  position: absolute;
  max-width: 100%;

}

.slide__content {
  min-height: 100%;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.slider__pets__content__button {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items:center; 
  height: 40px;

}

.slide__content:hover {
  background-color: #000;
  opacity: 40%;
  

}

.slide__content:hover .slider__pets__content  {
  transform: translateY(-152px);
  transition: all 0.5s linear;
  opacity: 100%;
}

.slider__pets__content {
  position: absolute;
  top: 100%;
  z-index: 3;
  height: 0px;
}



/* payment */

.payment {
  background-color: #F2F2F2
}

.payment__inner {
  text-align: center;
  padding-bottom: 100px;
}

.payment__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.payment__scheme {
  display: flex;
  margin: 92px auto 60px auto;
}

.payment__arrow {
  margin: auto 63px;
}

/* testi */

.testi {
  height: 810px;
  display: flex;
}

.teti__slider {
  margin-top: 65px;
  margin-bottom: 48px;
  display: flex;
  justify-content:space-between;
}

.testi__inner {
  text-align: center;
}

.testi__item {
  width: 585px;
  height: 310px;
  background: #FEFEFE;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;
  text-align: center;
  padding: 47px 72px 106px 72px;
}

.testi__name {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
  margin-top: 13px;
  margin-bottom: 16px;

}

.testi__rew {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #4F4F4F;
  text-align: left;
}

.testi__arrow__container__left {
  margin-top: 360px;
  margin-left: 307px;
}

.testi__arrow__container__right {
  margin-top: 360px;
  margin-right: 307px;
}

/* map */

.map {
  height: 904px;
  background-color: #F2F2F2;
}

.map__inner {
  text-align: center;
}

.map__item {
  margin-top: 65px;
  position: relative;
  height: 498px;
}

.mark__panda {
  position: absolute;
  top: 18.2%;
  right: 18.92%;
}

.mark__eagle {
  position: absolute;
  right: 83.22%;
  top: 14.89%;
}

.mark__croco {
  position: absolute;
  right: 72.92%;
  top: 20.59%;
}

.mark__monkey {
  position: absolute;
  right: 45.69%;
  top: 38.05%;
}

.map__block {
  max-width: 1198px;
  height: 497px;
  max-width: 900px;
  position: relative;
  background: url(asserts/map.png) no-repeat center;
}

.map__tooltip {
  display: none;
  padding: 40px 35px 44px 40px;
  height: 150px;
  width: 436px;
  background-color: #FEFEFE;
  position: absolute;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 8px;
  right: 30%;
}

.tooltip__info {
  text-align: left;
  margin-left: 20px;
}

.tooltip__header {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 7px;
}

.tooltip__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
}

.tooltip__span {
  font-weight: 500;
  color: #333333;
}

.mark__panda:hover ~ .panda__tooltip,
.mark__eagle:hover ~ .eagle__tooltip,
.mark__croco:hover ~ .croco__tooltip,
.mark__monkey:hover ~ .monkey__tooltip {
  display: flex;
}


/* footer */

footer {
  background-color: #333333;
  height: 751px;
}

.footer__inner {
  display: flex;
  flex-direction: row;
}

.footer__item {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 100px 0 42px 0;
}

.needpad {
  padding-top: 70px;
  padding-left: 15px;
}

.contactus {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 23px;
  color: #FEFEFE;
  margin: 66px 0 30px 0;
  letter-spacing: -0.05rem;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  height: 26px;
  width: 383px;
  background-color: #333333;
  color: #E0E0E0;
  border: none;
  outline: none;
  border-bottom: 1px solid #BDBDBD;
}

input::placeholder {
  color: #E0E0E0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

legend {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
}

.input__name {
  margin-bottom: 20px;
}

fieldset {
  margin: 20px 0 25px 0;
  width: 383px;
  height: 124px;
  padding: 0;
}

textarea {
  width: 383px;
  height: 100px;
  background-color: #333333;
  color: #E0E0E0;
  border: none;
  outline: none;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 1px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.label__agree {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
}

.footer__p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FEFEFE;
  letter-spacing: -0.05rem;
  }

address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #FEFEFE;
  margin: 35px 0 20px 0;
}

.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FEFEFE;
}

.footer__link__one {
  margin-bottom: 20px;
}

.footer__link__num {
  margin-bottom: 8px;
}

.footer__under {
  border-top: 0.5px solid #FEFEFE;
  height: 132px;
}

.copyright {
  padding-top: 20px;
  min-height: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #BDBDBD;
}

.fix__under__btn {
  visibility: hidden
}

/* zoos */

.zoos {
  height: 910px;
  display: flex;
  flex-direction: row;
}

.zoos__inner {
  display: flex;
}

.sticky__slider {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 154px;
  height: 580px;
  align-items: center;
  width: 150px;
  margin-left: 26px;
}

.sticky__slider__link {
  margin: 3px 0 3px 0;
}

.sticky__slider__link__up {
  margin-bottom: 15px;
}

.sticky__slider__link__down {
  margin-top: 5px;
}

h5 {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  letter-spacing: -0.05rem;
}

.disable {
  pointer-events: none;
  cursor:pointer;
}

.zoos__info {
  margin: 156px 0 0 30px;
  width: 380px;
}

.zoos__info__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
  margin: 6px 0 13px 0;
}

.zoos__main {
  margin: 60px 0 0 185px;

}

.zoos__name {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
  margin-bottom: 40px;
  letter-spacing: -0.3rem;
}

.zoos__screen {
  margin-top: 26px;
  display: flex;
  flex-direction: row;
}

.mid {
  margin: 0 26px 0 26px;
}

.dot {
  content: '';
  height: 8px;
  width: 8px;
  background-color: #C4C4C4;
  border-radius: 50%;
  cursor: pointer;
}

.dot_active {
  width: 11px;
  height: 11px;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
}

.dots {
  width: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto 0 auto;
}

.croco__fix {
  position: absolute;
  left: 1150px;
}

/* burger */

.burger{
  margin: auto 0;
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    width:40px;
    height: 20px;
    margin-left: 28px;
}

.burger__item {
    display: block;
    width: 40px;
    height: 3px;
    background-color: #333333;
    font-size: 0;
    color:transparent;
    position: relative;
}

.burger__item:before,
.burger__item:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: #333333;
}


.burger__item:before{
  width: 33px;
  top: 8px;
    
}
.burger__item:after{
    bottom: 8px;
    
}


/* media */

@media (max-width: 1600px) {

  .btn--large{
    visibility: hidden;
    position: absolute;
    left: 0;
  }

  .fix__under__btn {
    visibility:visible;
    position: relative;
  
  }

  .works__text {
    margin: 30px 0 14px 0;
  }

  .value {
    margin-top: 29px;
    margin-bottom: 15px;
  }

  .inspire__inner {
    padding-bottom: 114px;
  }
  
  .medium1 {
    margin-left: 20px;
    margin-right: 10px;
  }
  
  .medium2 {
    margin-left: 10px;
    margin-right: 20px;
  }

  .slides {
    padding-top: 3px;
  }

  .arrow__container__left {
    margin-top: 329px;
    margin-left: 100px;
  }

  .slide {
    width: 25%;
    position: relative;
    height: 301px;
    overflow: hidden;
  }

  .arrow__container__right {
    margin-top: 329px;
    margin-right: 100px;
  }

  .payment__arrow {
    width: 48px;
    margin: auto 17px;
  }

  .payment__scheme {
    display: flex;
    margin: 51px auto 50px auto;
  } 

  .testi__arrow__container__left {
    margin-top: 360px;
    margin-left: 100px;
  }

  .testi__arrow__container__right {
    margin-top: 360px;
    margin-right: 100px;
  }

  .testi__item {
    width: 440px;
    height: 310px;
    padding: 44px 56px 90px 56px;
  }

  .teti__slider {
    margin-top: 65px;
    margin-bottom: 46px;
  }

  .map__block {
    height: 436px;
    background-size: 100% 100%;
  }

  .map__img {
    height: 100%;
    width: 900px;
  }

  .under__li__btn {
    position: absolute;
  }

  .container__large {
    width: 900px;
  }

  .container__small {
    width: 900px;
  }

  .nav__fix {
    padding: 3px 0 0 82px;
}

  .info {
    background-position: bottom  left 0px;
    height: 926px;
  }

  h2 {
    padding-top: 127px;
  }

  .slider__info {
    top: 46.5%;
    right: -30%;
  }

  .info__slide__img {
    width: 180px;
    height: 261px;
  }

  .info__slide__img--active {
    width: 245px;
    height: 352px;
  }

  .info__slide {
    padding-left: 30px;
  }

  .info__range__slider {
    margin-left: 351px;
  }

  .slider__info__inner {
    padding-left: 105px;
  }
  
  .value__white {
    margin-top: 19px;
  }

  .social__info {
    top: 79%;
    left: 12.5%;
  }

  .works__inner {
    width: 746px;
  }

  .works__block__img {
    overflow: hidden;
    width: 746px;
    height: 323px;
  }

  .footer__p {
    letter-spacing: 0;
  }


  /* ZOOS */

  .zoos {
    height: 715px;
  }

  .zoos__info {
    margin-left: 20px;
    width: 256px;
  }

  .zoos__info__text {
    margin-bottom: 16px;
  }

  .zoos__info__text {
    margin-top: 7px;
  }

  .btn--small {
    width: 185px;
    margin: 19px 0 0 0;
  }

  .zoos__img {
    height: 96px;
  }

  .zoos__img__active {
    height: 120px;
  }

  iframe {
    width: 527px;
    height: 297px;
  }

  .zoos__screen__img {
    height: 94px;
  }

  .sticky__slider {
    margin-left: 1px;
  }

  .sticky__slider__link__down {
    margin-top: 11px;
  }

  .nav__fix {
    padding: 3px 0 0 90px;
  }

  .zoos__main {
    margin-left: 48px;
  }

  .mid {
    margin: 0 18px;
  }

  .under__nav {
    margin-bottom: 13px;
  }

  .needpad {
    padding-left: 10px;
  }

  .under__ul {
   margin-left: 11px;
  }

  address {
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .copyright {
    padding-top: 33px;
  }

  .contactus {
    margin: 64px 0 33px 0;
    
    letter-spacing: 0.1rem;
  }
  fieldset {
    margin: 25px 0 18px 0;
  }

  .submit__btn__img {
    margin-left: 16px;
  }

  .dots {
    margin-top: 27px;
  }

  .map__item {
    margin-top: 59px;
  }

  .map__item {
    height: initial;
    margin-bottom: 36px;
  }

  .map {
    height: 843px;
  }

}



  @media (max-width: 1119px) {
    
    .container__large {
      width: 600px;
    }
  
    .container__small {
      width: 600px;
    }

    .testi__item__hidden {
      visibility: hidden;
      position: absolute;
      left: 0%;
    }

    .burger {
      display: block;
    }

    .nav__fix {
      display: none;
    }

    .logo {
      margin: auto 413px auto 0;
    }

    header {
      position: fixed;
      z-index: 9;
      background-color: #FFFFFF;
    }

    .payment__scheme {
      flex-direction: column;
    }

    .payment__img {
      height: 245px;
    }

    .payment__arrow {
      transform: rotate(90deg);
      height: 40px;
      margin: 29px auto;
    }

    .works__block__img {
      width: 600px;
      height: 323px;
    }

    .works__img {
      width: 600px;
      height: 323px;
    }
    
    .works__inner {
      width: 600px;
    }

    h2 {
      font-size: 64px;
      line-height: 75px;
      padding-top: 216px;
      padding-right: 50px;
      padding-bottom: 32px;
    }

    .slider__info__inner {
      padding-left: 41px;
  }

    .info {
      height: 1028px;
      background-size:cover
    }

    .slider__info {
      top: 48.9%;
      right: -77%;
    }

    .info__range__slider {
      margin-left: 286px;
  }

    .social__info {
      top: 78.5%;
      left: 3%;
  } 

  .works__text {
    margin: 30px 0 30px 0;
  }

    .inspire__inner {
      flex-direction: column;
      padding: 86px 0;
    }

    .inspire__item {
      margin: 10px auto;
      width: 287px;
    }

    .inspire__item__mid {
      margin: 38px auto;
    }

    .works__inner {
      padding-bottom: 70px;
  }

    .pets {
      padding-bottom: 16px;
    }

    .payment__h3 {
      margin-bottom: 16px;
    }

    .payment__text {
      margin: 0 auto;
      width: 538px;
    }

    .testi__arrow__container__left {
      display: none;
    }

    .testi__arrow__container__right {
      display: none;
    }

    .testi__item {
      width: 585px;
      height: 310px;
    }

    .teti__slider {
      margin-top: 51px;
      margin-bottom: 46px;
  }

  .testi {
    height: 796px;
}

  .map__block {
    height: 289px;
}

  .map__item {
    margin-top: 51px;
  }

  .map {
    height: 666px;
}

  .testi__item {
    padding: 44px 65px 90px 78px;
}

    .zoos {
      height: 1076px;
    }

    .zoos__inner {
      flex-direction: column;
    }

    .zoos__name {
      margin-top: 40px;
    }

    .zoos__main {
      margin: 112px 0 0 0px;
      width: 497px;
    }

    .zoos__info {
      margin-top: 49px;
      margin-left: 0;
      width: 496px;
    }
    .zoos__img__active {
      height: 90px;
    }

    .zoos__img {
      height: 70px;
    }

    .sticky__slider {
      margin-left: -16px;
    }

  .zoos__name {
    letter-spacing: -0.26rem;
    margin-bottom: 38px;
    }

    .zoos__screen {
      margin-top: 10px;
    }

    iframe {
      width: 497px;
      height: 280px;
    }

    .zoos__screen__img {
      height: 89px;
    }

    .mid {
      margin: 0 16px;
    }

    footer {
      height: 1068px;
      position: relative;
    }

    .footer__inner {
      flex-direction: column;
    }

    .under__nav {
      position: absolute;
      top: 14.7%;
      left: 1%;
    }

    .under__ul {
      flex-direction: column;
    }

    .contactus {
      margin: 135px 0 35px 0;
  }

    .under__logo {
      margin: 0;
    }

    .btn--large {
      position: absolute;
      top: 5.8%;
      left: 54%;
    }

    .needpad {
      padding: 15px 0;
      margin-bottom: 52px;
    }

    .footer__under {
      height: 108px;
    }

    .under__li {
      margin: 2.5px 0;
      
    }

    .under__ul {
      align-items:initial;
      margin-left: 14px;
    }

    .sticky__slider {
      width: 140px;
    }

    .zoos__info__text {
      margin-top: 5px;
  }

  .btn--small {
    margin-top: 29px;
  }

  .copyright {
    padding-top: 26px;
  }
  }

  @media (max-width: 638px) {
    
    .container__large {
      width: 300px;
    }
  
    .container__small {
      width: 300px;
    }

    .logo {
      margin-right: 116px;
    }

    .zoos__img {
      height: 40px;
    }
  
    .zoos__img__active {
      height: 65px;
    }
  
    iframe {
      width: 205px;
      height: 116px;
    }
  
    .zoos__screen__img {
      height: 56px;
    }

    .mid {
      display: none;
    }

    .screen__left {
      margin-right: 9px;
    }

    .zoos__name {
      margin: 40px 0 0 6px;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -0.14rem;
      margin-bottom: 22px;
    }

    .zoos__main {
      width: 205px;
      margin: 85px 0 0 0px;
    }

    .zoos__info {
      width: 205px;
      margin-top: 30px;
    }

    h5 {
      font-size: 13px;
      line-height: 16px;
    }

    .zoos__info__text {
      font-size: 12px;
      line-height: 14px;
      margin-top: 7px;
     
    }

    .btn--large {
      top: 76.5%;
      left: 7%;
    }

    input {
      width: 299px;
    }

    fieldset {
      width: 299px;
    }

    textarea {
      width: 299px;
    }

    .under__logo {
      margin-right: 0;
    }

    .footer__item {
      width: 100%;
      padding-top: 53px;
      padding-bottom: 0;
    }

    .submit__btn {
      margin-left: 0px;
      height: initial;
      width: initial;
      padding-left: 190px;
    }

    .needpad {
      margin-bottom: 164px;
  }

    
    .sticky__slider {
      top: 128px;
      width: 111px;
      margin-left: -17px;
    }

    .sticky__slider__link__up {
      margin-bottom: 2px;
    }

    .sticky__slider__link {
      margin: 1px 0 1px 0;
    }

    .sticky__slider__link__down {
      margin-top: 4px;
    }

    .zoos__screen {
      margin-top: 6px;
    }

    .dots {
      margin-top: 20px;
    }

    .btn--small {
      margin-top: 21px;
  }

    .zoos {
      height: 776px;
    }

    .under__nav {
      position: absolute;
      top: 11.3%;
      left: -1%;
  }
    .contactus {
      margin: 147px 0 33px 0;
  }

  .needpad {
    margin-bottom: 179px;
  }

  footer {
    height: 1100px;
  }

  .works__block__img {
    width: 300px;
    height: 323px;
  }

  .works__img {
    width: 600px;
    height: 323px;
  }
  
  .works__inner {
    width: 300px;
  }

  .pets {
    overflow: hidden;
    
  }

  .payment__text {
    margin: 0 auto;
    width: 300px;
}

  .testi__item {
    width: 300px;
    height: 363px;
  }

  h2 {
    font-size: 47px;
    line-height: 56px;
    padding-top: 184px;
    padding-right: 490px;
    padding-bottom: 16px;
}
  .info {
    height: 762px;
    background-size: cover;
  }

  .social__info {
    display: none;
  }

  h3 {
    font-size: 36px;
    line-height: 42px;
    padding-top: 50px;
  }

  .works__text {
    margin: -10px 0 30px 0;
  }

  .value {
    margin-top: 21px;
    margin-bottom: 12px;
  }

  button {
    margin-top: 25px;
  }

  .works__inner {
    padding-bottom: 48px;
  }

  .inspire__inner {
    flex-direction: column;
    padding: 35px 0;
}

.inspire__item__mid {
  margin: 15px auto 3px auto;
}

.payment__text {
  display: none;
}

.payment__scheme {
  display: flex;
  margin: 33px auto 50px auto;
}

.payment__inner {
  text-align: center;
  padding-bottom: 42px;
}

.teti__slider {
  margin-top: 37px;
  margin-bottom: 41px;
}
.testi__item {
  padding: 51px 8px 79px 14px;
}

.testi__name {

  margin-top: 39px;
  margin-bottom: 16px;
}

.testi {
  height: 706px;
}

.map__block {
  height: 146px;
}

.map {
  height: 412px;
}

.map__item {
  margin-top: 31px;
}






}











